{% extends 'layouts/default.twig' %}

{% block content %}
<section id="wrapper__inner" class="archetypes-view">
    <h2>{{ page_title }}</h2>
    <div class="cards cards--uniform cards--archetypes">
        {% for archetype in archetypes %}
        <div class="card card--archetype">
            <div class="card__inner">
                {% if archetype.image %}
                <div class="archetype-card__image" style="background-image: url('/images/archetypes/{{ archetype.image|e }}')"></div>
                {% endif %}
                <div class="archetype-card__overlay">
                    <div class="card__title">{{ archetype.name }}</div>
                    <p class="archetype-card__summary">{{ archetype.summary }}</p>
                    {% if archetype.description %}
                    <p class="archetype-card__description">{{ archetype.description }}</p>
                    {% endif %}
                    <div class="archetype-card__actions">
                        <form method="post" action="{{ get_url('characters_new_apply') }}">
                            <input type="hidden" name="archetype" value="{{ archetype.id }}">
                            <button class="button button--filled button--large button--primary button--full" type="submit">Create a {{ archetype.name }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="card card--archetype">
            <div class="card__inner">
                <div class="archetype-card__image" style="background-image: url('/images/archetypes/scratch.png')"></div>
                <div class="archetype-card__overlay">
                    <div class="card__title">From Scratch</div>
                    <p class="archetype-card__summary">Build your character from the ground up with no pre-filled choices.</p>
                    <p class="archetype-card__description">If you have a crystal clear idea of who your new character is, this is the way to go. Make every decision to ensure your character is exactly right.</p>
                    <div class="archetype-card__actions">
                        <a class="button button--filled button--large button--full" href="{{ get_url('characters_create') }}">Create from scratch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
