{% extends 'layouts/character/builder.twig' %}

{% block page %}
<form class="form" method="post" action="{{ get_url('characters_attributes', {hash: entity.hash}) }}">

    {% if form_errors %}
    <div class="field field--error">
        <p class="field__error">Please correct the following:</p>
        {% for error in form_errors %}
        <p class="field__error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <!--<div class="field">
        <label class="field__label">Attribute Point Summary</label>
        <div class="field__inner">
            <p>Each attribute starts at d4.</p>
            <p>The first 5 die steps cost attribute points.</p>
            <p>Each extra attribute step costs 2 hindrance points.</p>
            <p>Attribute points: {{ allocation.attribute_points_spent }} / {{ allocation.attribute_points_total }}</p>
            <p>Attribute points remaining: {{ allocation.attribute_points_remaining }}</p>
            <p>Hindrance points available: {{ allocation.hindrance_points_available }}</p>
            <p>Hindrance points spent on attributes: {{ allocation.hindrance_points_spent }}</p>
            <p>Hindrance points remaining: {{ allocation.hindrance_points_remaining }}</p>
        </div>
    </div>-->

    <div class="cards">
        {% for field, attribute in attribute_fields %}
        <div class="card card--narrow">
            <div class="card__title">{{ attribute.name }}</div>
            <div class="card__content">
                {{ attribute.description }}
            </div>
            <div class="card__footer">
                <select class="field__input" id="attribute_{{ field }}" name="attributes[{{ field }}]">
                    {% for value in attribute_options %}
                    <option value="{{ value }}" {% if attribute(entity, field) == value %}selected{% endif %}>d{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="form__buttons form__buttons--floating">
        <a class="button" href="{{ get_url('characters_hindrances', {hash: entity.hash}) }}">Previous</a>
        <button class="button button--primary" type="submit">Save and Continue...</button>
    </div>

</form>
{% endblock %}
