{% extends 'layouts/character/builder.twig' %}

{% set back_url = get_url('characters_hindrances', {hash: entity.hash}) %}
{% set next_url = get_url('characters_skills', {hash: entity.hash}) %}

{% block page %}
<div class="panel panel--collapsible panel--collapsed panel--helpable">
    <h2 class="panel__title">Attributes</h2>
    <div class="panel__content">
    <p>Attributes are the basic abilities your character has - are they smart, strong, wise? These stats are the basic building blocks that your character relies on when doing... well... anything really!</p>
    </div>
</div>

<div class="cards">
    {% for field, attribute in attribute_fields %}
    <div class="card card--selected">
        <div class="card__inner">
            <div class="card__title">{{ attribute.name }}</div>
            <div class="card__content">
                {{ attribute.description }}
            </div>
            <div class="card__footer">
                <select class="field__input"
                    id="attribute_{{ field }}"
                    name="attributes[{{ field }}]">
                {% for value in attribute_options %}
                {% set attributeDie = attribute(entity, field) %}
                    <option value="{{ value }}" {% if attributeDie == value %}selected{% endif %}>d{{ value }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
