{% extends 'base.twig' %}

{% do add_stylesheet('/css/cards.css') %}
{% do add_script('/javascript/hindrances.js') %}

{% block content %}
{% include "partials/character-bar.twig" %}
<form class="form" method="post" action="{{ get_url('characters_hindrances', {hash: entity.hash}) }}">

    {% if errors %}
    <div class="field field--error">
        <p class="field__error">Please correct the following:</p>
        {% for error in errors %}
        <p class="field__error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="field">
        <label class="field__label">Choose up to {{ max_points }} points of hindrances. You have used:</label>
        <input class="field__input js-points" type="text" value="{{ remaining_points }}" readonly />
    </div>
    <div class="cards">
            {% for hindrance in hindrances %}
            <div class="field cards__card js-hindrance">
                <label class="field__label">{{ hindrance.name }}</label>
                <div class="field__inner">
                    <div>
                        {% if hindrance.summary %}
                        <p>{{ hindrance.summary }}</p>
                        {% endif %}
                        {% if hindrance.effects %}
                            {% for effect in hindrance.effects %}
                            <p>{{ effect.level|title }}: {{ effect.details }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        {% for level in hindrance.levels %}
                        <label for="hindrance_{{ hindrance.id }}_{{ level }}">
                            <input
                                class="js-checkbox"
                                id="hindrance_{{ hindrance.id }}_{{ level }}"
                                type="checkbox"
                                name="hindrances[{{ hindrance.id }}]"
                                value="{{ level }}"
                                {% if selected[hindrance.id] is defined and selected[hindrance.id] == level %}checked{% endif %}
                            />
                            {{ level|title }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>

    <div class="form__buttons">
        <a class="button" href="{{ get_url('characters_concept', {hash: entity.hash}) }}">Previous</a>
        <button class="button button--primary" type="submit">Save and Continue...</button>
    </div>

</form>

{% endblock %}
