{% extends 'layouts/character/builder.twig' %}

{% do add_script('/javascript/budgets.js') %}
{#% do add_script('/javascript/skills.js') %#}

{% set selected_keys = selected|keys %}
{% set back_url = get_url('characters_attributes', {hash: entity.hash}) %}

{% block page %}

<div class="panel">
    <h2 class="panel__title">Skills</h2>
    <div class="panel__content">
    <p>Mauris congue, ante eu feugiat facilisis, nunc felis sagittis dui,
    vitae maximus ante eros sed quam. Suspendisse consequat, risus eget
    commodo tincidunt, diam mauris luctus mi, eu dapibus erat dolor sit
    amet felis. Quisque vitae mollis tellus, a mattis risus. Ut ullamcorper
    dolor ut placerat volutpat. Curabitur luctus cursus ligula, ut fringilla
    erat placerat eget.</p>
    </div>
</div>

<div class="cards">
    {% for skill in skills %}
    {% set isSelected = skill.id in selected_keys %}
    {% set attributeDie = entity.get(skill.linked_attribute) %}
    <div class="card card--skill card--{{ skill.core_skill ? 'core' : 'non-core' }}">
        <div class="card__inner">
            <div class="card__title card__title--collapsible card__title--collapsed" for="skill_{{ skill.id }}">{{ skill.name }}</div>
            <div class="card__content">
                {% if skill.summary %}
                <p>{{ skill.summary }}</p>
                {% endif %}
                {% if skill.core_skill %}
                <p>Core skill: starts at d4 for free.</p>
                {% endif %}
            </div>
            <div class="card__footer">
                <p><strong>{{ skill.linked_attribute|capitalize }} skill</strong> - you have {{ skill.linked_attribute|capitalize }} at d{{ attributeDie }}</p>
                <select
                    class="field__input js-skill-die js-budget-option"
                    id="skill_{{ skill.id }}"
                    name="skills[{{ skill.id }}]"
                    data-budget="skills"
                    data-linked-attribute-die="{{ group.attribute_die }}"
                    data-baseline-die="{{ skill.core_skill ? 4 : 0 }}"
                >
                {% set multiplier = 0 %}
                {% for value in dice_options %}
                    {% if (isSelected and 0 == value) or (skill.core_skill and 0 == value) %}
                    {# a core skill or a selected skill - no 'untrained' option #}
                    {% elseif isSelected and selected[skill.id] > value %}
                    {# a selected skill at a higher level than value - option unavailable #}
                    {% else %}
                    {% set isSelectedValue = selected[skill.id] and (selected[skill.id] == value) %}
                    {% set budget_value = 1 %}
                    {% if 0 == value %}
                        {% set budget_value = 0 %}
                    {% elseif skill.core_skill and 4 == value %}
                        {% set budget_value = 0 %}
                    {% elseif attributeDie < value %}
                        {% set budget_value = 2 %}
                    {% endif %}
                    <option
                        value="{{ value }}" {% if isSelectedValue %}selected{% endif %}
                        data-budget-value="{{ budget_value * multiplier }}"
                        >
                        {% if value == 0 %}
                        Untrained
                        {% else %}
                        d{{ value }}{% if 0 < budget_value and not isSelectedValue %} (cost +{{ budget_value * multiplier }}){% endif %}
                        {% endif %}
                    </option>
                    {% set multiplier = multiplier + 1 %}
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
