{% extends 'layouts/character/builder.twig' %}

{% do add_script('/javascript/skills.js') %}

{% set selected_keys = selected|keys %}
{% set back_url = get_url('characters_attributes', {hash: entity.hash}) %}
{% set next_url = get_url('characters_edges', {hash: entity.hash}) %}

{% block page %}

<div class="panel panel--collapsible panel--collapsed panel--helpable">
    <h2 class="panel__title">Skills</h2>
    <div class="panel__content">
    <p>Skills are learned abilities such as firing
    weapons, hand-to-hand combat, scientific
    knowledge, professional aptitudes, and so on.
    Skills in Savage Worlds are very broad to
    keep the action simple and straightforward.
    The Shooting skill, for example, covers all
    types of guns, bows, rocket launchers, and
    other ranged weapons.</p>
    </div>
</div>

<div class="panel panel--controls">
    <div class="panel__subpanel"></div>
    <div class="panel__subpanel">
        <label class="button button--slider">
            <input type="checkbox" class="js-filter-selected">
            <span class="button__slide"></span>
            Show selected only
        </label>
    </div>
</div>

<h3>Core Skills</h3>
<div class="cards">
    {% set core = true %}
    {% for skill in skills %}
{% if core and not skill.core_skill %}
    {% set core = false %}
</div>
<h3>Optional Skills</h3>
<div class="cards">
{% endif %}
    {% set isSelected = skill.id in selected_keys %}
    {% set attributeDie = entity.get(skill.linked_attribute) %}
    <div class="card card--skill card--{{ skill.core_skill ? 'core' : 'non-core' }} {% if skill.core_skill %}card--selected{% endif %}">
        <div class="card__inner">
            <div class="card__title {% if not skill.core_skill %}card__title--collaps1ible card__title--co1llapsed{% endif %}{% if isSelected %} card__title--selected{% endif %}" for="skill_{{ skill.id }}">{% if skill.core_skill %}<strong>CORE</strong>/{% endif %}{{ skill.name }}</div>
            <div class="card__content">
                {% if skill.summary %}
                <p>{{ skill.summary }}</p>
                {% endif %}
                {% if skill.core_skill %}
                <p>Core skill: starts at d4 for free.</p>
                {% endif %}
            </div>
            <div class="card__footer">
                <p><strong>{{ skill.linked_attribute|capitalize }} skill</strong> - you have {{ skill.linked_attribute|capitalize }} at d{{ attributeDie }}</p>
                <select
                    class="field__input"
                    id="skill_{{ skill.id }}"
                    name="skills[{{ skill.id }}]"
                >
                {% for value in dice_options %}
                    {% if (skill.core_skill and 0 == value) %}
                    {# a core skill or a selected skill - no 'untrained' option #}
                    {% else %}
                    {% set isSelectedValue = selected[skill.id] and (selected[skill.id] == value) %}
                    <option value="{{ value }}" {% if isSelectedValue %}selected{% endif %}>
                        {% if value == 0 %}
                        Untrained
                        {% else %}
                        d{{ value }}
                        {% endif %}
                    </option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
