{% do add_stylesheet("/css/styles.css") %}
{% do add_script("/javascript/toast.js") %}
{% do add_script("/javascript/cards.js") %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}{{ site.name }}{% if page_title|length > 0 %} : {{ page_title }}{% endif %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&family=Staatliches&display=swap" rel="stylesheet">

    {% for stylesheet in get_stylesheets() %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
    </head>

    <body{% if body_class %} class="{{ body_class }}"{% endif %}>
        {% if session.has('user') %}
            {% include "partials/topbar.twig" %}
        {% endif %}
        <main>
            {% block wrapper %}{% endblock %}
        </main>
        {% include "partials/toast.twig" %}
    </body>
    {% for script in get_scripts() %}
        <script src="{{ script }}"></script>
    {% endfor %}
</html>
