{% extends 'layouts/default.twig' %}

{% do add_stylesheet('/css/campaign.css') %}
{% do add_script('/javascript/campaign-invite.js') %}

{% block content %}
<section>
    <div class="section__header">
        <h2>{{ campaign.name }}</h2>
        <h3>GM: {{ owner.firstname }} {{ owner.lastname }}</h3>
    </div>

    {% if campaign.description|length > 0 %}
    <p>{{ campaign.description }}</p>
    {% endif %}

    <aside class="invite-link">
        <div class="invite-link__panel">
            <p class="small">Send this link to players to invite them to join your campaign</p>
            <p class="invite-link__url js-invite-link">{{ invite_url }}</p>
        </div>
        <div class="invite-link__panel invite-link__panel--links">
            <a href="#" class="js-copy-invite-link button button--ghost">Copy Link</a>
            <a href="{{ get_url('campaigns_reset', { hash: campaign.hash })}}" class="button button--ghost">Reset Link</a>
        </div>
    </aside>

    {#
    <div class="roster-header">
        <div class="roster-header__panel">
            <h3>{{ owner.firstname }} {{ owner.lastname }}</h3>
        </div>
        <div class="roster-header__panel">
            <p>Game Master</p>
        </div>
        {% if false and (is_owner or is_superuser) %}
        <div class="roster-header__panel">
            <aside class="invite-link">
                <div class="invite-link__panel">
                    <p class="invite-link__url js-invite-link">{{ invite_url }}</p>
                    <p class="small">Send this link to players to invite them to join your campaign</p>
                </div>
                <div class="invite-link__panel invite-link__panel--links">
                    <a href="#" class="js-copy-invite-link">Copy Link</a>
                    <a href="{{ get_url('campaigns_reset', { hash: campaign.hash })}}">Reset Link</a>
                </div>
            </aside>
        </div>
        {% endif %}
    </div>
    #}

<h3>Active Characters in the Campaign</h3>
{% set character_count = roster_characters|length %}
<div class="cards{% if character_count < 1 %} cards--single-column{% endif %}">
{% if  character_count > 0 %}
    {% for row in roster_characters %}
        {% set character = row.character %}
        <div class="card card--selected">
            <div class="card__inner">
                <div class="card__title">{{ character.name }}</div>
                <div class="card__content{% if character.concept|length == 0 %} card__content--empty{% endif %}">
                    <p class="small">
                        {% if row.user %}
                        Player: {{ row.user.firstname }} {{ row.user.lastname }}
                        {% else %}
                        Unknown player
                        {% endif %}
                    </p>
                    {% if character.concept|length > 0 %}<p>{{ character.concept }}</p>{% else %}<p>No concept yet</p>{% endif %}
                </div>
                <div class="card__footer">
                    <a class="button" href="{{ get_url('characters_sheet', {hash: character.hash}) }}">View sheet</a>
                    {% if character.user == session.user.id %}
                    <form method="post" action="{{ get_url('campaigns_leave_character', {hash: campaign.hash, character_hash: character.hash}) }}">
                        <button class="button" type="submit">Remove from campaign</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% elseif roster|length > 0 %}
    <div class="card card--dotted">
        <div class="card__inner">
            <div class="card__title">No characters yet!</div>
            <div class="card__content">
            <p>No characters are in this campaign yet. Shown below are characters you can add to get things up and running!</p>
            </div>
        </div>
    </div>
{% else %}
    <p>No members yet.</p>
{% endif %}
</div>

{% if is_member %}
    <!--<hr />-->
    <h3>Characters that can be added to the campaign</h3>
    {% if available_characters|length > 0 %}
    <div class="cards cards--character">
    {% for character in available_characters %}
        <div class="card card--selected">
            <div class="card__inner">
                <div class="card__title">{{ character.name }}</div>
                <div class="card__content{% if character.concept|length == 0 %} card__content--empty{% endif %}">
                    {% if character.concept|length > 0 %}{{ character.concept }}{% else %}No concept yet{% endif %}
                </div>
                <div class="card__footer">
                    <form method="post" action="{{ get_url('campaigns_add_character', {hash: campaign.hash}) }}">
                        <input type="hidden" name="character_hash" value="{{ character.hash }}">
                        <button class="button button--primary" type="submit" aria-label="Add to campaign">Add to campaign</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
    <p>You have no unassigned characters available.</p>
    {% endif %}

    <!--<hr />-->

    <div class="panel panel--danger panel--collapsible panel--collapsed">
        <div class="panel__title">
            <h3>Leave Campaign</h3>
        </div>
        <div class="panel__content">
            {% if can_leave %}
            <p>If you leave this campaign you will need to get a new invitation link from the owner to join it again.</p>
            <form method="post" action="{{ get_url('campaigns_leave', {hash: campaign.hash}) }}">
                <button class="button button--danger" type="submit">Leave Campaign</button>
            </form>
            {% else %}
            <p>Remove your characters from this campaign before leaving.</p>
            {% endif %}
        </div>
    </div>
{% endif %}
</section>
{% endblock %}
