{% extends 'layouts/default.twig' %}

{% block content %}
{% if characters|length > 0 %}
<div class="cards">
{% for character in characters %}
    <div class="card">
        <div class="card__title">{{ character.name }}</div>
        <div class="card__content">
            {{ character.concept ?? "No concept yet" }}
        </div>
        <div class="card__footer">
            <a class="button button--primary" href="{{ get_url('characters_concept', {hash: character.hash}) }}">Edit</a>
            <!--<a href="{{ get_url('characters_hindrances', {hash: character.hash}) }}">Hindrances</a>
            <a href="{{ get_url('characters_attributes', {hash: character.hash}) }}">Attributes</a>
            <a href="{{ get_url('characters_skills', {hash: character.hash}) }}">Skills</a>-->
        </div>
    </div>
{% endfor %}
</div>
{% else %}
    <p>No characters found<p>
    <p><a class="button button--primary" href="{{ get_url('characters_create') }}">Create one now</a></p>
{% endif %}
{% endblock %}
