{% extends 'layouts/default.twig' %}

{% block content %}
<section id="wrapper__inner">
    <h2>All Users</h2>

    {% if users|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created</th>
                <th>Superuser</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created }}</td>
                <td>{% if user.superuser %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.status|title }}</td>
                <td>
                    <a class="button" href="{{ get_url('admin_users_edit', {id: user.id}) }}">Edit</a>
                    {% if user.id == session.user.id %}
                        <span>Current account</span>
                    {% elseif user.status == 'active' %}
                        <form method="post"
                              action="{{ get_url('admin_users_disable', {id: user.id}) }}"
                              style="display:inline-block;">
                            <button class="button button--danger" type="submit">Disable</button>
                        </form>
                    {% else %}
                        <form method="post"
                              action="{{ get_url('admin_users_enable', {id: user.id}) }}"
                              style="display:inline-block;">
                            <button class="button button--primary" type="submit">Re-enable</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No users found.</p>
    {% endif %}
</section>
{% endblock %}
